cache=D:\program\nvm\cache
prefix=D:\program\nvm\node_global
//localhost:4873/:_authToken="cbx7snhw8ZsMdDSbLM/uL1slTEzGo6p3gfVOyfivm7A="
//127.0.0.1:4873/:_authToken="cbx7snhw8ZsMdDSbLM/uL1slTEzGo6p3gfVOyfivm7A="
registry=https://registry.npm.taobao.org/
//192.168.250.101:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ6aGFuZ3lhbmdjdW4iXSwibmFtZSI6InpoYW5neWFuZ2N1biIsImdyb3VwcyI6WyJ6aGFuZ3lhbmdjdW4iLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJ6aGFuZ3lhbmdjdW4iXSwiaWF0IjoxNjE3MTc5NTkyLCJuYmYiOjE2MTcxNzk1OTMsImV4cCI6MTYyMjM2MzU5Mn0.gf24IVNU-6Z-JIhZb8LN6cizXQlx8RfilV_PTjYDOjs
home=https://npm.taobao.org
